
  /* Masthead styles */

  .masthead {
    background: #003865;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.37);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    grid-area: masthead;
    position: sticky;
    text-transform: uppercase;
    top: 0;
    z-index: 2;
  }

  .masthead__inner {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    margin: 0 auto;
    max-width: 750px;
    width: 80%;
  }

  .masthead .logo {
    height: 32px;
    margin-right: 20px;
    width: 28px;
  }

  @media (min-width: 600px) {
    .masthead {
      font-size: 20px;
    }

    .masthead__inner {
        height: 80px;
        margin: 0 0 0 60px;
        justify-content: flex-start;
    }

    .masthead .logo {
      height: 40px;
      width: 35px;
    }
  }

  @media (min-width: 1024px) {
    .masthead__inner {
        margin: 0 0 0 20px;
    }
  }