---
'react-magma-dom': patch
---

fix(TreeView): Fix TreeView issues from verification
