.article-divider {
  background: #DFDFDF;
  margin: 40px 0;
}

.two-col {
  display: flex;
  flex-direction: column;
}

.two-col .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0;
}

.two-col .col {
  display: flex;
  flex-direction: column;
  width: 47%;
  max-width: 400px;
}

.three-col .col {
  display: flex;
  flex-direction: column;
  width: 33%;
  max-width: 400px;
}

.one-col .col {
  width: 100%;
}

figure .image-container {
  border: 1px solid #dfdfdf;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px 10px 0 10px;
  background: #f7f7f7;
}

figure .image-container span {
  padding-bottom: 0px!important;
}

figure .image-container img {
  max-width: 400px;
  margin: auto!important;
  position: relative!important;
}

figcaption {
  font-size: 13px;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  margin: 5px 0 0 0;
}

figcaption p {
  margin: 0;
}

figcaption .title {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  padding: 3px 5px;
  margin: 0 0 5px 0!important;
  letter-spacing: 1px;
}

figcaption .title-correct {
  background: #3A8200;
  color: #fff;
}

figcaption .title-incorrect {
  background: #E70000;
  color: #fff;
}

figcaption .title-caution {
  background: #F2A900;
  color: #3f3f3f;
}

.two-col img {
  border: 1px solid #dfdfdf;
}

.swatch-rows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media only screen and (max-width: 680px) {
  figure .image-container {
    padding-top: 10px;
  }

  .two-col .row {
    flex-direction: column;
  }

  .two-col .col {
    width: 100%;
    max-width: 100%;
  }
}
