# See https://help.github.com/articles/about-codeowners/ for valid syntax for entries.

*                                          @cengage/react-magma @aaronmaturen
packages/*                                 @cengage/react-magma @aaronmaturen @avanslaars @rcgillet
packages/react-magma-docs/src/pages/design @orion-cengage
*            

