storybook-static
dist/
.vscode
node_modules/
*.log
coverage
.nyc_output
.cache
public/
.DS_Store
packages/react-magma-dom/README.md
*_cache*
.npmrc
packages/react-magma-landing/dist

.nx/cache
.nx/workspace-data
