storybook-static
dist/
node_modules/
*.log
coverage
.nyc_output
.cache
public/
.DS_Store
packages/react-magma-dom/README.md
*_cache*
.npmrc
packages/react-magma-landing/dist

# Accessibility test results
a11y-results/
!a11y-results/README.md

.nx/cache
.nx/workspace-data
