{
  "packages/!(react-magma-docs)**/*.{ts,tsx,js}": [
    "jest --coverage=false --bail --findRelatedTests"
  ],
  "packages/**/*.{ts,tsx,md,mdx,js,jsx,json,css}": [
    "eslint --fix",
    "prettier --write"
  ],
  "website/**/*.{ts,tsx,md,mdx,js,jsx,json,css}": [
    "eslint --fix",
    "prettier --write"
  ]
}
