.props-table {
  padding: 0;
  table-layout: auto;
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  font-size: 14px;
  overflow-x: initial;
  overflow-y: hidden;
  width: 100%;
}

.props-table thead th {
  font-weight: 400;
  padding: 10px;
}

.props-table thead th:nth-of-type(1) {
  width: 10%;
}

.props-table thead th:nth-of-type(2) {
  width: 30%;
}

.props-table thead th:nth-of-type(3) {
  width: 10%;
}

.props-table thead th:nth-of-type(4) {
  width: 50%;
}

.props-table td {
  padding: 10px;
}

.props-table tbody > tr {
  display: table-row;
  border-top: 1px solid #ced4de;
}

.props-table tbody > tr:nth-child(odd) {
  background: #F7F7F7;
}

.props-table .required {
  display: block;
  font-size: .9em;
  font-weight: bold;
  padding-left: 5px;
}
