.link {
  text-decoration: none;
  color: initial;
}

.wrapper {
  overflow-x: auto;
  padding: 2px;
  width: 100%;
  max-width: 100%;
}

.table {
  font-family: monospace, sans-serif;
  padding: 0;
  table-layout: auto;
  box-shadow: 0 0 0 1px #ced4de;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  border-style: hidden;
  border-radius: 2px;
  font-size: 14px;
  color: #13161f;
  display: block;
  width: 100%;
  overflow-x: initial;
  overflow-y: hidden;
}

table thead th {
  background: #eef1f5;
  font-weight: 400;
  padding: 20px 20px;
}

.table thead th:nth-of-type(1) {
  width: 20%;
}

.table thead th:nth-of-type(2) {
  width: 10%;
}

.table thead th:nth-of-type(3) {
  width: 10%;
}

.table thead th:nth-of-type(4) {
  width: 10%;
}

.table thead th:nth-of-type(5) {
  width: 20%;
}

table tbody td {
  padding: 12px 20px;
  line-height: 2;
}

.table tbody > tr {
  display: table-row;
  border-top: 1px solid #ced4de;
}

table tbody > tr:nth-child(odd) {
  background: #F7F7F7;
}

.table a {
  color: #0b5fff;
}
