# Project dependencies
.cache
node_modules
yarn-error.log

# Build directory
/public
.DS_Store

# MDX type-check temp files
.mdx-typecheck-tmp

# https://github.com/gatsbyjs/gatsby/issues/26735
# package-lock.json
