/* Accordion styles */
.accordion__body {
  animation: fadein 0.35s ease-in;
  display: block;
}

.accordion__body--hidden {
  animation: fadeout 0.35s ease-in;
  display: none;
}

.accordion__title {
  cursor: pointer;
  border: none;
}

.accordion__title:hover {
  background: #f7f7f7;
}

.isInverse .accordion__title:hover {
  background: #003865;
}

.accordion__title svg {
  transition: transform 0.35s;
}

.accordion__title[aria-expanded='true'] svg {
  transform: rotate(-180deg);
}

@keyframes fadein {
  0% {
    height: 0;
    opacity: 0;
  }

  100% {
    height: 100%;
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    height: 100%;
    opacity: 1;
  }

  100% {
    height: 0;
    opacity: 0;
  }
}
