name: Auto Assign Issues to Project(s)

on:
  issues:
    types: [opened]
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  assign_one_project:
    runs-on: ubuntu-latest
    name: Assign Issues to Project
    steps:
    - name: Add new issues to react-magma project
      uses: srggrs/assign-one-project-github-action@1.2.0
      with:
        project: 'https://github.com/orgs/cengage/projects/1/views/7'
        column_name: 'To Do'
