name: preview
on:
  pull_request:
    branches:
      - dev
      - master
    types: [opened, edited]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: "12.x"
      - run: npm ci
      - run: npm test
      - run: npm build:docs
  deploy:
    needs: build
    runs-on: ubuntu-latest
      - uses: netlify/actions/cli@master
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        with:
          args: deploy --dir=packages/react-magma-docs/public --alias ${{PR_ID}}
          secrets: '["NETLIFY_AUTH_TOKEN", "NETLIFY_SITE_ID"]'
